[submodule "continuous-integration/utilities-for-travis-ci"]
	path = continuous-integration/utilities-for-travis-ci
	url = http://github.com/Lin-Buo-Ren/Utilities-for-Travis-CI
[submodule "linters/gnu-bash-automatic-checking-program-for-git-projects"]
	path = linters/gnu-bash-automatic-checking-program-for-git-projects
	url = https://github.com/Lin-Buo-Ren/GNU-Bash-Automatic-Checking-Program-for-Git-Projects
[submodule "developer-tools/git-precommit-hook-for-gnu-bash-projects"]
	path = developer-tools/git-precommit-hook-for-gnu-bash-projects
	url = https://github.com/Lin-Buo-Ren/Git_Pre-commit_Hook_for_GNU_Bash_Projects
	fetchRecurseSubmodules = no
	ignore = all
